.ImZGtf {display:block;}
.YEDFMc-eyJpod.V2Vq5e{width:100%;}
.YEDFMc-eyJpod .uzcko{float:left;}
.YEDFMc-eyJpod .RZEgze{float:left;}
.cqtbn{width:inherit;}
.YEDFMc-eyJpod .f5NCO{display:block;}
.y1APZe-eyJpod.V2Vq5e{height:inherit;}
